.container {
  height: "80%";
  display: "flex";
  flex-direction: "column";
}

.upperPart {
  flex-direction: "row";
}

.photo {
  height: "50px";
  width: "50px";
}

.brandName {
  font-size: 30;
  margin-left: 10;
}

.brandName:hover {
  text-decoration: none !important;
}

.lowerPart {
  text-align: "center";
}